<p> -Created by Takanari Sasaki </p>
<p> &copy; https://www.reddit.com </p>
<p> &copy; http://veradekok.nl/New%20Tab%20progsels/mail_reddit_logo.svg </p>
<p> &copy; http://www.logospike.com/wp-content/uploads/2014/11/Reddit_logo-5.png </p>
