<!DOCTYPE html>

<html>
    <head>
        <title> Create Post</title>
        <link style="text/css" rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="../images/logo.png" height="15" width="15">
    </head>
    
    <body class="create_post_page">
        <p> Enter the title, URL, and subreddit ID to create a page! </p>
    	<form id="create_post" action="/createPost" method="POST"> 
        	Title: <input type="text" name="title" placeholder="Enter the title:"> <br/>
    		URL: <input type="text" name="url" placeholder="Enter the url:">
    		<div>
    		    <button type="submit"> Post! </button>
    		</div>
    	</form>
    	
    	 <form id="suggest_title" action="/createPost" method="POST">
    	     <button type="submit"> Suggest Title! </button>
    	 </form>
    	
    </body>
    
    <script src='js/jquery.js'></script>
    <script src='js/main.js'></script>
    
</html>