<!DOCTYPE html>
<html>
    <head>
        <title> Login </title>
        <link type="text/css" rel="stylesheet" href="/css/style.css" />
        <link rel="icon" href="../images/logo.png" height="15" width="15">
    </head>
    
    <body>
        <p> Enter your username and password </p>
    	<form action="/login" method="POST"> 
        	Username: <input type="text" name="username" placeholder="Enter your username"> <br/>
    		Password: <input type="password" name="password" placeholder="Enter your password"> <br/>
    		<button type="submit"> Login! </button>
    		<input type="reset" value="reset" /> <br/>
    	</form>        
    </body>
    
</html>