<!DOCTYPE html>
<html>
    <head>
        <title> Post successfully created</title>
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="../images/logo.png" height="15" width="15">
    </head>
    
    <body>
        <h3> Your post has been successfully created! <br> </h3> 
		<a href="/"> Return to Homepage </a> <br> <br>
    </body>
</html>