<!DOCTYPE html>
<html>
    <head>
        <title> Sign up</title>
        <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    </head>
    
    <body>
        <p> Enter a username and password to sign up! </p>
        
        <form action="/signup" method="POST"> 
    	Username: <input type="text" name="username" placeholder="Enter your username"> <br/>
		Password: <input type="text" name="password" placeholder="Enter your password"> <br/>
		<button type="submit"> Create! </button>
		<input type="reset" value="reset" /> <br/>
        </form>
        
    </body>
</html>
