<!DOCTYPE html>
<html>
    <head>
        <title> Account successfully created</title>
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="../images/logo.png" height="15" width="15">
    </head>
    
    <body>
        <section class="sigup_success">
            <h3> Your account has been successfully created! Please login now! <br> </h3> 
            <form action="/login" method="POST"> 
                Username: <input type="text" name="username" placeholder="Enter your username">
                Password: <input type="password" name="password" placeholder="Enter your password">
                <button type="submit"> Login! </button>
            </form>   
        </section>
    </body>
</html>
